<div layout="column" flex layout-fill ng-cloak>
	<md-content flex>
		<section>
			<md-subheader class="md-primary">Games in progress</md-subheader>
			<md-list flex>
				<md-list-item class="md-3-line" ng-repeat="item in GamesInProgress">
					<img ng-src="{{item.Owner.ProfilePicture}}" class="md-avatar" alt="{{item.Owner.Name}}" />
					<div class="md-list-item-text" layout="column">
						<h3>{{ item.Owner.Name }}</h3>
						<h4>{{ item.DateCreated }}</h4>
						<p>{{ item.GameType }}</p>
					</div>
					<md-button class="md-secondary md-icon-button" ng-class="GameInProgressClick(item)">
						<md-icon>play</md-icon>
					</md-button>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
		</section>
		<section>
			<md-subheader class="md-primary">Featured Games</md-subheader>
			<md-grid-list md-cols="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px"
				md-gutter-gt-sm="4px">

				<md-grid-tile ng-repeat="tile in tiles" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" md-colspan-sm="1" md-colspan-xs="1"
					ng-style="tile.style">
					<md-icon md-svg-icon="{{tile.icon}}"></md-icon>
					<md-grid-tile-footer>
						<h3>{{tile.title}}</h3>
					</md-grid-tile-footer>
				</md-grid-tile>
			</md-grid-list>
		</section>
	</md-content>
</div>